<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dingpeng.java.exercise.lottery.resource.mapper.ConstraintEntityDao" >
  <resultMap id="ConstraintResultMap" type="com.dingpeng.java.exercise.lottery.resource.entity.ConstraintEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="segment_id" property="segmentId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="constraint_key" property="constraintKey" jdbcType="VARCHAR" />
    <result column="constraint_value" property="constraintValue" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Table_Name">constraint</sql>
  <sql id="Total_Column_List">id, activity_id, segment_id, type, constraint_key, constraint_value, create_time,update_time</sql>

  <!--当主键是自增的情况下 useGeneratedKeys="true" keyProperty="id"添加成功后可以获得对象属性id的值-->
  <insert id="insertOne" parameterType="com.dingpeng.java.exercise.lottery.base.entity.ConstraintEntity" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO
    <include refid="Table_Name"/>
    (activity_id, segment_id, type, constraint_key, constraint_value)
    VALUES
    (#{activityId}, #{segmentId}, #{type}, #{constraintKey}, #{constraintValue})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.dingpeng.java.exercise.lottery.base.entity.ConstraintEntity">
    UPDATE
    <include refid="Table_Name"/>
    <set>
      <if test="activityId!= null" >
        activity_id = #{activityId},
      </if>
      <if test="segmentId != null" >
        segment_id = #{segmentId},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="constraintKey != null" >
        constraint_key = #{constraintKey},
      </if>
      <if test="constraintValue != null" >
        constraint_value = #{constraintValue},
      </if>
    </set>
    where id = #{id}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from
    <include refid="Table_Name"/>
    where id = #{id}
  </delete>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ConstraintResultMap">
    SELECT
    <include refid="Total_Column_List"/>
    FROM
    <include refid="Table_Name"/>
    WHERE id = #{id}
  </select>

  <select id="selectUsefulConstraint" parameterType="map" resultMap="ConstraintResultMap">
    SELECT
    <include refid="Total_Column_List"/>
    FROM
    <include refid="Table_Name"/>
    WHERE 1 = 1
    <if test="activityId != null and activityId != 0">
      AND activity_id = #{activityId}
    </if>
    <if test="segmentId != null and segmentId != 0">
      AND segment_id = #{segmentId}
    </if>
  </select>
</mapper>