<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dingpeng.java.exercise.lottery.resource.mapper.PrizeRecordEntityDao" >
  <resultMap id="PrizeRecordResultMap" type="com.dingpeng.java.exercise.lottery.resource.entity.PrizeRecordEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="segment_id" property="segmentId" jdbcType="INTEGER" />
    <result column="prize_id" property="prizeId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="win_schedule" property="winSchedule" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
    <sql id="Table_Name">prize_record</sql>
    <sql id="Total_Column_List">id, activity_id, segment_id, prize_id, user_id, phone, win_schedule, create_time,update_time</sql>

    <!--当主键是自增的情况下 useGeneratedKeys="true" keyProperty="id"添加成功后可以获得对象属性id的值-->
    <insert id="insertOne" parameterType="com.dingpeng.java.exercise.lottery.base.entity.PrizeRecordEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="Table_Name"/>
        (activity_id, segment_id, prize_id, user_id, phone, win_schedule)
        VALUES
        (#{activityId}, #{segmentId}, #{prizeId}, #{userId}, #{phone},#{winSchedule})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.dingpeng.java.exercise.lottery.base.entity.PrizeRecordEntity">
        UPDATE
        <include refid="Table_Name"/>
        <set>
            <if test="activityId!= null" >
                activity_id = #{activityId},
            </if>
            <if test="segmentId != null" >
                segment_id = #{segmentId},
            </if>
            <if test = "userId != null">
                user_id = #{userId}
            </if>
            <if test="prizeId != null" >
                prize_id = #{prizeId},
            </if>
            <if test="phone != null" >
                phone = #{phone},
            </if>
            <if test="winSchedule != null" >
                win_schedule = #{winSchedule},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from
        <include refid="Table_Name"/>
        where id = #{id}
    </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="PrizeRecordResultMap">
        SELECT
        <include refid="Total_Column_List"/>
        FROM
        <include refid="Table_Name"/>
        WHERE id = #{id}
    </select>

    <select id="selectByCondition" parameterType="map" resultMap="PrizeRecordMap">
        SELECT
        <include refid="Total_Column_List"/>
        FROM
        <include refid="Table_Name"/>
        WHERE 1 = 1
        <if test="userId != null and userId != 0">
            AND user_id = #{userId}
        </if>
        <if test= "prizeId != null and prizeId != 0">
            AND prize_id = #{prizeId}
        </if>
        <if test="activityId != null and activityId != 0">
            AND activity_id = #{activityId}
        </if>
        <if test="segmentId != null and segmentId != 0">
            AND segment_id = #{segmentId}
        </if>
    </select>
</mapper>